/* Add CSS Styling */
.blk, .ylw {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}

.blk {
    background: black;
    color: white;
}

.ylw {
    background: yellow;
}